@property --neon-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #8987ff;
}

body {
    background-color: #1f1f1f; /* Dark grey background */
    color: #efefef; /* White text */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    display: box;
    margin: 8px;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    background-color: #111111;
    height: 30px;
    border: 2px solid var(--neon-color); /* Purple outline */
    box-shadow: 0 0 10px var(--neon-color); /* Glowing effect */
}
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
}

.navbar li {
    display: inline;
}

.container {
    margin-top: 60px; /* Adjust based on navbar height */
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Adjust based on navbar height */
}

.content-box {
    background-color: #111111; /* Darker shade of grey */
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 60%; /* Adjust width as needed */
    height: 80%; /* Adjust height as needed */
    box-shadow: 0 0 10px var(--neon-color);
    margin-bottom: 20px;
}

.content-box h1 {
    margin-top: 0;
}

.content-box ul {
    list-style-type: none;
    padding: 0;
}

.content-box ul li {
    margin-bottom: 10px;
}

.content-box {
    border: 2px solid var(--neon-color); /* Purple outline */
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-info li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    display: list-item;
}

.footer {
    margin: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #efefef; /* White text */
    text-align: center;
}