* {
    font-family: 'Noto Sans', sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1e1e;
    color: #e1e1e1;
}

li {
    list-style-type: none;
}

textarea {
    resize: none;
}

.bgimg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/background.avif");
    min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
.w3-card {
    background-color: black;
    padding: 1%;
}

@media only screen and (max-device-width: 1600px) {
    .bgimg {
        background-attachment: scroll;
        min-height: 400px;
    }
}